* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* padding: 40px; */
  background: radial-gradient(circle, #540659, #1a0444, #0242a4);
  margin: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 470px;
  width: 100%;
  border-radius: 12px;
  padding: 20px 30px 120px;
  background: #ffffffe1; /* Set wrapper background color to white */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 40s ease-in-out infinite;
  -moz-animation: AnimationName 40s ease-in-out infinite;
  animation: AnimationName 40s ease-in-out infinite;
}
.selectBox {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  line-height: 100px;
}
a {
  font-size: 2rem;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  background: rgba(0, 119, 255, 0.712);
  border-radius: 16px;
  border: 2px solid #0243a47c;
}
a:hover {
  font-weight: bolder;
  border: 2px solid #0243a4d3;
  background: rgba(0, 119, 255, 0.671);
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
